/* Functionality styles for text appearance effects */

.view-container * {
    padding: 0;
    margin: 0;
}

.view {
    visibility: hidden;
}

.transition-wrapper {
    display: inline-block;
    overflow: hidden;
}

/*.view .transition-wrapper * {
    animation-duration: 0.25s;
    animation-name: slideRight;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
}

.view.active .transition-wrapper * {
    animation-duration: 0.25s;
    animation-name: slideFromLeft;
    animation-iteration-count: 1;
    animation-direction: forwards;
}*/

.view.visible {
    visibility: visible;
}

[data-view-link-to] {
    cursor: pointer;
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
