.view {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 1em;
}

.view-title * {
    color: #e74c3c;
}

[data-view-link-to] {
    cursor: pointer;
}

.view .transition-wrapper * {
    animation-duration: 0.5s;
    animation-name: slideUp;
    animation-fill-mode: forwards;
}

.view.active .transition-wrapper * {
    animation-duration: 0.5s;
    animation-name: slideFromBottom;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

.view.visible {
    visibility: visible;
}

[data-view-link-to] {
    cursor: pointer;
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}